@font-face {
  font-family: Rockwell;
  src: url("./font/RockwellExtraBold.otf");
}

.sideNav {
  margin: 0px;
  /* text-align: center; */
  background-color: #2b291d;
  width: 7%;
  position: fixed;
  height: 100%;
  align-self: center;
  justify-self: center;
}

.sideNav ul {
  margin: 150px 5px 5px 10px;
  list-style: none;
}

.sideNav li {
  margin: 25px 0px 5px 0px;
}

.sideNav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.userpage-body main {
  background-image: url("./img/caveedit.jpg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  height: 200vh;
  margin: 0% 0% 0% 7%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1.15fr 1fr;
  grid-template-areas: "personalhunt createhunt" "activehunt activehunt";
}

.userpage-body main h2 {
  color: #feff7d;
  font-family: Rockwell;
  text-transform: uppercase;
}

.personalhunt-box {
  grid-area: personalhunt;
  justify-self: center;
}
.createhunt-box {
  grid-area: createhunt;
  background-color: rgba(210, 105, 30, 0.356);
}
.activehunt-box {
  grid-area: activehunt;
  /* justify-self: center; */
  background-color: #2b291d;
}

.activehunt-box h2 {
  text-align: center;
  color: #feff7d;
  margin-top: -50px;
  font-size: 30px;
  font-weight: bold;
}
