.hunt-body {
  overflow: hidden;
}
.activehunt-carousel {
  height: 350px;
  width: 950px;
  align-items: center;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  border-radius: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 20px;
  width: 20px;
  font-weight: bold;
  opacity: 0.3;
}

.picture-and-text {
  display: flex;
}

.picture-and-text img {
  width: 50%;
  height: 350px;
  opacity: 0.9;
}

.hunt-title {
  background-color: #008181c7;
  width: 50%;
  height: 350px;
  text-align: center;
  margin: 0 auto;
}

.hunt-title h3 {
  color: #b9cedb;
  padding: auto;
  /* background-color: lawngreen; */
  margin: 40px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 50px;
}

.hunt-title p {
  margin: 15px;
  margin-top: 0px;
  font-weight: bolder;
  font-size: 17px;
}

.activehunt-joinbutton {
  /* background-color: lightcoral; */
  letter-spacing: 1pt;
  width: 90px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
}
