.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  background-color: #0004;
}

.carousel-caption h3 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 900;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  font-weight: 900;
}

@media all and (max-width: 1820px) {
  img {
    border-style: none;
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 900px) {
  .carousel-caption {
    position: absolute;
    top: 30%;
    bottom: 10%;
  }
}
@media (max-width: 480px) {
  .carousel-caption h3 {
    font-size: 35px;
  }
  .carousel-caption p {
    font-size: 12px;
  }
}
