* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body {
  height: 100%;
  overflow: hidden;
}

.loginNavBar {
  background-color: rgba(255, 160, 122, 0.37);
}

.banner-img {
  background-image: url(../img/map.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  -webkit-animation: banner-img 6s ease-out infinite alternate-reverse both;
  animation: banner-img 6s ease-out infinite alternate-reverse both;
}

/* Animation for Background Image */
@-webkit-keyframes banner-img {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes banner-img {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
/*  */

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 30%;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 160, 122, 0.37);
  font-size: 20px;
  font-weight: bold;
}

.loginButton {
  color: rgb(8, 8, 8);
  margin: auto;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.wrapper h6 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 500px) {
  .form {
    width: 70%;
    font-weight: bolder;
  }
}
